/* ESTILOS GLOBAIS */

@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background: var(--light-gray);
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
    .side-menu {
        width: 25%;
    }

    .main-section {
        width: 75%;
    }
}

@media (max-width: 768px) {

    html, body {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .side-menu {
        width: 100vw important !;
        box-shadow: none;
    }

    .main-section {
        width: 100vw;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    h1 {
        padding: 1rem;
    }
}


/* MENU LATERAL */

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    background-color: var(--super-light-gray);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.side-menu h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--dark-purple);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.side-menu p {
    text-align: justify;
    background-color: var(--light-gray);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem 0;
    display: none;
}

.user-img {
    height: 10rem;
    width: 10rem;
    margin: 1rem 0;
}

.menu-table {
    width: 100%;
}

.menu-table ul {
    list-style: none;
    cursor: pointer;
}

.menu-table li {
    margin-bottom: 1rem;
}

.menu-table a {
    color: var(--dark-purple);
}

.menu-table a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.name-container {
    display: flex;
    margin-bottom: 6rem;
    width: 100%;
}

.input-username {
    background-color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    color: var(--dark-purple);
    outline: none;
    width: 100%;
}

#inputed-username {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.input-username::placeholder {
    color: var(--dark-purple);
}


#ok-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}

#ok-button .fa-plus-circle {
    color: var(--grafite-gray);
}

#ok-button:hover .fa-plus-circle:hover {
    color: var(--green);
}

#ok-button:hover {
    color: var(--medium-green);
}

/* SEÇÃO PRINCIPAL */

.main-section {
    padding: 2rem;
}

.main-section h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--dark-gray);
    background-color: var(--super-light-gray);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.table-container {
    display: flex;
    background-color: var(--super-light-gray);
    padding: 2rem;
    gap: 2rem;
    overflow: hidden;
}

.day, .night {
    width: 100%;
    overflow: hidden;
    padding: 2rem 5rem;
    border-radius: 15px;
}

.day {
    background-color: var(--yellow);
}

.night {
    background-color: var(--blue);
}

.day h2, .night h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: var(--dark-gray);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.day ol, .night ol {
    border-radius: 15px;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}

.day ol li, .night ol li {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    background-color: var(--super-light-gray);

}

.new-task-container {
    display: flex;
    align-items: center;
}

.new-task-input {
    outline: none;
    border: none;
    margin: 1rem 0;
    background-color: var(--white);
    border-radius: 15px;
    width: 100%;
    padding: 1rem;
    color: var(--black);
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.new-task-input:focus {
    border: 1px solid var(--blue);
}

.new-task-input::placeholder {
    color: var(--black);
}


.fa-trash-alt {
    margin-left: 1rem;
}

.add-button {
    border: none;
    background-color: transparent;
    display: flex;
    padding-left: 0.5rem;
    justify-content: flex-end;
}

.fa-plus-circle {
    font-size: 2rem;
    color: var(--grafite-gray);
    cursor: pointer;
    padding: 1rem;
}

.fa-plus-circle:hover {
    color: var(--green);
}

.fa-trash-alt {
    color: var(--blue);
}

.fa-trash-alt:hover {
    color: var(--red);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}