@import url(./variables.css);

/* ESTILOS GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background: var(--light-gray);
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
    .side-menu {
        width: 20%;
    }

    .main-section {
        width: 80%;
    }

    .table-container {
        padding: 2rem;
    }

    .day, .night {
        padding: 2rem 3rem;

    }
}

@media (max-width: 768px) {

    html, body {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .side-menu {
        width: 100vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        height: 100vh;
    }

    .main-section {
        width: 100vw;
        margin-top: 4rem;
    }

    .side-menu p {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    .side-menu h2 {
        font-size: 1rem;
    }

    .user-img {
        height: 5rem;
        width: 5rem;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .menu-links {
        font-size: 0.8rem;
        padding: 2rem 0;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    h1 {
        padding: 1rem;
    }
}

/* MENU LATERAL */

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    background-color: var(--super-light-gray);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.side-menu h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--dark-purple);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.side-menu p {
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem 0;
    display: none;
}

.user-img {
    height: 10rem;
    width: 10rem;
    margin: 1rem 0;
}

#bio {
    background-color: var(--white);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem 0;
    color: var(--dark-gray);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#bio:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-links {
    width: 100%;
}

.menu-links ul {
    list-style: none;
    cursor: pointer;
}

.menu-links li {
    margin-bottom: 1rem;
}

.menu-links a {
    color: var(--dark-purple);
}

.menu-links a:hover {
    color: var(--blue);
    text-decoration: underline;
}

#inputed-username {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.input-container {
    border-radius: 8px;
    background-color: var(--white);
    padding: 0.5rem;
    height: 4.2rem;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    display: flex;
    margin: 0 1rem;
}

.input-element {
    border-radius: 8px 0 0 8px;
    background-color: white;
    padding: 1rem;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
}

.input-element::placeholder {
    color: var(--dark-purple);
}

.add-button {
    border: none;
    padding: 12px;
    background-color: white;
    border-radius: 0 8px 8px 0;
    align-items: center;
    display: flex;
}

/* SEÇÃO PRINCIPAL */

.main-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-section h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--dark-gray);
    background-color: var(--super-light-gray);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.table-container {
    display: flex;
    background-color: var(--super-light-gray);
    gap: 2rem;
    overflow: hidden;
    padding: 0.5rem;
}

.day, .night {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    border-radius: 15px;
}

.day {
    background-color: var(--yellow);
}

.night {
    background-color: var(--blue);
}

.day h2, .night h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: var(--dark-gray);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.day ol, .night ol {
    border-radius: 15px;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    padding: 1rem;
    margin: 0 1rem;
}

.day ol li, .night ol li {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    background-color: var(--super-light-gray);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.day ol li:hover,
.night ol li:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.fa-trash-alt {
    margin-left: 1rem;
}

.fa-plus-circle {
    font-size: 2rem;
    color: var(--grafite-gray);
    cursor: pointer;
    padding: 0.2rem;
}

.fa-plus-circle:hover {
    color: var(--green);
}

.fa-trash-alt {
    color: var(--blue);
}

.fa-trash-alt:hover {
    color: var(--red);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}